.ul{
  flex-direction: column;
  @media (min-width: 720px){
    flex-direction: row;
    padding:0;
    margin:0;
  }
  display:flex;
  padding: 0 5rem;
  margin-bottom:4rem;

}
.li{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin:2rem;
  p{
    color:black;
    font-size: 1.25rem;
  }
}
.section{

 display:flex;
 flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-image: url('../../assets/images/mountain.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 4.5rem;
  @media (min-width: 720px){
   background-position: 0;
  }
}
.content{
 display:flex;
 justify-content: center;
 flex-grow: 1;
 align-items: center;

}

