.expertisePage{
  overflow:hidden;
  padding-top:8rem;
  display:flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-image: url('../../assets/images/mountain.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: bottom;
  background-attachment: scroll;
  @media (min-width: 720px){
    background-attachment: fixed;
    background-size: cover;
    background-position: left 0 bottom -140px;
  
    padding: 8rem  15vw 0 15vw;  
 
}
}

.ul{
  flex-direction: column;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom:6rem;

  @media (min-width: 720px){
  
    flex-direction: row;
    padding:2rem 0 10rem 0;
    margin:0;
    flex-wrap: wrap;
    min-height: 60vh;

  }
}
.li{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color:black;
  p{
   
    font-size: 1.25rem;
    
  }
  
  @media (min-width: 720px){
    width: 25vw;
    flex-wrap:wrap;
  }
}



