.splashPage{
  display:flex;
  flex-direction: column;
  min-height: calc(100vh - 8rem);
  padding: 8rem  5px 0 5px;
  @media(min-width: 750px){ 
    min-height: calc(100vh - 12rem);
    padding: 12rem  5rem 0 5rem;  
}
@media(min-width: 1100px){
  flex-direction:row;
  padding: 10rem 12vw 0 11vw;
  min-height: calc(100vh - 10rem);
}
@media(min-width:1700px){
  padding: 10rem 203px 0 185px;
}
}
.titles{
  color:#FFD67A;
  margin:0 0 1rem 0;
  font-weight: bold;
  font-size:1.5rem;
  @media(min-width: 420px){
    font-size:2rem;
  }
  @media(min-width: 520px){
    font-size:2.5rem;
  }
 
  @media(min-width:900px){
   font-size:3rem;
  }
  @media(min-width:1100px){
    font-size: 2.1rem;
  }
  @media(min-width:1300px){
    font-size: 3rem;
  }
  @media(min-width:1600px){
    font-size: 4rem;
  }
 
}
.about{

  margin-top:1rem;
  @media(min-width: 420px){
    font-size:1.4rem;
  }
  @media(min-width: 520px){
    font-size:1.8rem;
    margin:0;
  
  }
 
  @media(min-width:900px){
    font-size:2.2em;
  } 
  @media(min-width:1100px){
    font-size: 1.8rem;
    
  }
  @media(min-width:1300px){
    font-size: 2.2rem;
  }
  @media(min-width:1600px){
    font-size: 2.9em;
  }
}
.about li:last-child{
  margin-top:2rem;
}
.text{
  list-style: none;
  flex-grow:1;
  display:flex;
  @media(min-width:750px){
    flex-grow:0;
  }
  flex-direction: column;
  margin-bottom:auto;
 
 p{
  
   margin: 0;
   font-style:italic;
 }
 @media(min-width: 1100px){
   margin:auto;
 }
}

.img{
  height:320px;
  width:100%;
  background-image:url('../../assets/images/profile.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: right bottom;
 
  
  @media(min-width: 750px){
    height:500px;
    width:500px;
    margin-left:auto;
    background-position: right bottom;
  }
  @media(min-width:850px){
  height: 800px;
  width: 650px;
  }
  @media(min-width:1100px){
   align-self:flex-end;
   height: 560px;
   width: 460px;
   background-position: right bottom;
  }
}
