.section{
  @media (min-width: 720px){
    flex-direction:row;
  }
  display: flex;
  flex-direction: column;
  background-color: #8CBBBE;
  min-height: calc(100vh - 9rem);
}
.section:last-child{
  align-self: flex-end
}

.intro{
  @media (min-width: 720px){
    width:50vw;
  }
  ul{
    list-style: none;
  }
}

.details{
  font-size:1.25rem;
  text-align: center;
  @media (min-width: 720px){
    font-size: 2rem;
    padding-left:12vw;
    text-align: left;
  }
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  p{
    color:black;
    font-style:italic;
  }
}
.list{
  color:gold;
  padding:0;
}
.imgContainer{
  display:flex;
  justify-content: flex-end;
  background-image: url('../../assets/images/profile.png');
  width:50vw;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 30vh;
  background-size:contain;

 

}
.img{
  display:block;
  height:auto;
  width:auto;
  margin-right:5rem;
}