.section{
  min-height: calc(100vh - 5rem);
  @media (min-width: 720px){
    min-height: calc(100vh - 9rem);
    flex-direction:row;
    :last-child{
      margin-top:auto;
    }
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #8CBBBE; 
}
.intro{
  margin:auto;
  @media (min-width: 720px){
    width:50vw;
  }
  ul{
    list-style: none;
  }
}
.details{
  font-size:1.25rem;
  text-align: center;
  @media (min-width: 720px){
    font-size: 2rem;
    padding-left:12vw;
    text-align: left;
  }
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  p{
    color:black;
    font-style:italic;
  }
}
.list{
  color:gold;
  padding:0;
}
.imgContainer{
  min-height: 50vh;
  width:100%;
  @media (min-width: 720px){
    height:80vh;
    width:50vw;
  }
  display:flex;
  justify-content: flex-end;
  background-image: url('../../assets/images/profile.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:contain;
}
.img{
  display:block;
  height:auto;
  width:auto;
  margin-right:5rem;
}