.section{
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6D92BD;
}
.ul{
  display: flex;
  flex-direction: column;
  @media (min-width: 720px){
    flex-direction: row;
  }
  padding: 0;
  justify-content: center;
}
.li{
  height: 60vw;
  width:60vw;
  @media (min-width: 720px){
  height: 20vw;
  width:20vw;
  }
  border-radius: 100%;
  background-color:#88A5CA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:2rem;
  p{
    display:flex;
    flex-direction: column;
  }
}
.li p:nth-child(2){
  color:black;
}
.black{
  color:black;
  margin: 0 3rem;
}
