.section{
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6D92BD;
  padding: 8rem 1rem 1rem 1rem;
  @media(min-width: 720px){
    padding: 8rem 12rem 1rem 12rem;
    font-size:1.75rem;
  }
}
.ul{
  display: flex;
  flex-direction: column;
  @media (min-width: 720px){
    flex-direction: row;
    flex-wrap:wrap;
  }
  padding: 0;
  justify-content: center;
}
.li{
  height: 42vw;
  width: 42vw;
  margin: 3rem;
  padding:2rem;
  display:flex;
  flex-direction: column;
  border-radius: 100%;
  background-color:#88A5CA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:2rem;
  p{
    display:flex;
    flex-direction: column;
  }
}
.li p:nth-child(2){
  color:black;
}
.black{
  color:black;
  margin: 0 3rem 2rem 3rem;
}
