.footer{
  height: 6rem;
  background-color: #ffffff;
  color: black;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  ul{
    margin:0;
  }
  li{
    margin-bottom:.5rem;
  }
  li:last-child{
    font-size: .65rem;
  }
}