.splash{
  display: flex;
  background-color: #8CBBBE;
  height: calc(100vh - 9rem);
}

.intro{
  width:50vw;
  ul{
    list-style: none
  }
}

.details{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding-left:12vw;
  font-size: 2rem;
  p{
    color:black;
    font-style:italic;
  }
}
.list{
  color:rgb(249, 206, 79);
  padding:0;
}
.imgContainer{
  display:flex;
  justify-content: flex-end;
  background-image: url('../assets/images/profile.png');
  width:50vw;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  background-size:contain;

 

}
.img{
  display:block;
  height:auto;
  width:auto;
  margin-right:5rem;
}