.footer{
  padding: 2rem;
  background-color: #ffffff;
  color: black;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
 
  ul{
    margin:0;
    padding-left: 0;
  }
  li:last-child{
    margin-top:1rem;
  }
 
}