.footer{
  padding: 2rem;
  background-color: #ffffff;
  
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
 
  ul{
    margin:0;
    padding-left: 0;
  }
  li:last-child{
    margin-top:1rem;
  }
  li:first-child{
    color:#FFD67A;
    margin-bottom:1rem;
    a{ color:inherit}
  }
 
}