.nav{
  z-index: 99;
  background-color: rgba(0,0,0,.5);
  display:flex;
  flex-direction: column;
  position:fixed;
  width:100%;
  top:0px;
  color:white;
  @media (min-width: 750px){
   
    display: none;
  }
}

.navBar{
  margin:0;
  @media (min-width: 750px){
    margin: 0 4rem;
  }
  width:100%;
  display:flex;
 
  align-items:center;
  img{
    height: 5rem;
    width: 5rem;
    margin-right:auto;
    padding-left:2rem;
   }
  svg{
    padding-right:2rem;
  }
}

.navMenu{
  color:white;
  z-index:98;
  background-color: rgba(0,0,0,.5); 
  position:fixed;
  top:-24rem;
  transition: transform 600ms ease-in-out;
  width:100%;
  display:flex;
  justify-content: center;
  border-top:1px solid black;
  font-size:1.5rem;
  ul{
    padding:4rem 0 0 0;
    width:100%;
    text-align: center;
  }
  a{
    color:inherit;
    text-decoration: none;
  }
  li{
    margin:1rem 0;
    width:100%;
  }
}
