.section{
  width:100%;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  text-align:center;
  background-image: url('../../assets/images/city.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.ulEducation{
  padding-left: 0;
  display: flex;
  flex-direction:column;
  align-items: center;
  color:black;
 
  li:first-child{
    font-weight:700;
  
  }
  li{
    font-weight:100;
  }

}

.background{
  background-color:#F7F6F7;
  opacity: .9;
  margin: 0 1rem;
  padding:1rem;
  color:black;
}
.skills{
  display:flex;
  flex-direction:column;
  @media (min-width: 720px){
    flex-direction: row;
  }
  justify-content: center;
  text-align: left;
  ul{
    padding:0;
    margin:0;
  }

  
  h2{
    margin:0;
    font-size:1rem;
  }
}
